// default behavior

:root {
  color-scheme: dark only;
}

:focus-visible {
  box-shadow: 0px 0px 18px 5px rgba(#ededed, 0.65);
}

::placeholder {
  opacity: 65%;
}

// page scroll-bars

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 0.4rem;
  background-color: rgba(#030303, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;

  &:hover {
    background-color: #c5c5c5;
  }
}

// default page style

html,
body {
  color: #ededed;
  background-color: #030303;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.responsiveHolder {
  width: 100%;
  max-width: 1440px;
}

header,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .responsiveHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

$headerHeight: 4.8rem;

header {
  z-index: 99;
  padding: 0 3%;
  height: $headerHeight;
  position: fixed;
  top: 0;

  border: 1px solid rgba(#030303, 0.1);
  box-shadow: 0 4px 30px rgba(#000000, 0.25);
  background: rgba(#030303, 0.2);
  backdrop-filter: blur(12px);

  h1 {
    font-size: 150%;
    user-select: none;

    @media (min-width: 768px) {
      margin-right: 1rem;
    }
  }

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    user-select: none;
  }

  button {
    padding: 0;
    height: 2.5rem;
    aspect-ratio: 1/1;

    // @media (max-width: 768px) {
    //   display: none;
    // }
  }
}

footer {
  padding: 1.5rem 3%;
  font-size: 90%;
  font-weight: lighter;

  span {
    position: relative;
    bottom: 1px;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    padding: 1rem 1%;
    font-size: min(75%, 3.5vw);

    .responsiveHolder {
      flex-direction: column;
      gap: 5px;
    }
  }
}

main {
  padding: calc($headerHeight + 2.5rem) 5% 2.5rem 5%;
  width: 100%;
  min-height: calc(100svh);
  display: flex;
  justify-content: center;
  overflow: hidden;

  text-shadow: 4px 3px 7px rgba(#030303, 0.4);

  background-image: url("/wallpaper.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(#000000, 0.5);
}

b,
h1,
h2 {
  font-weight: bold;
}

input,
button {
  padding: 5px 20px;
  border-radius: 0.4rem;
  color: #030303;
  background-color: #d2d2d2;
  transition: 0.2s background-color ease-out;
  cursor: pointer;

  @media (min-width: 768px) {
    &:hover {
      background-color: #b9b9b9;
    }
  }
}

input {
  cursor: text;

  // disable autofill browser styles
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}
