.loader {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .spinner {
    border: 16px solid #d2d2d2;
    border-top: 16px solid #4378bd;
    border-radius: 50%;
    height: 7.5rem;
    aspect-ratio: 1/1;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  h2 {
    position: relative;
    left: 5px;
    font-size: 150%;
    font-weight: bold;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & > * {
    width: 50%;
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }
}

.current {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h2 {
    margin-top: -5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 200%;

    img {
      filter: invert(1);
      user-select: none;
    }

    span {
      scale: 65%;
    }
  }

  div {
    display: flex;
    gap: 1.1rem;
    font-size: min(120%, 1.5vw);

    & > * {
      position: relative;
      display: flex;
      align-items: center;
    }

    @media (max-width: 1024px) {
      font-size: min(120%, 3.4vw);
      gap: min(1.1rem, 2vw);
    }
  }
}

.tempHolder {
  margin: 0.2rem 0 1rem;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.temperature {
  margin-left: 0.5rem;
  position: relative;
  display: flex;
  font-size: 400%;
  font-weight: lighter;

  span {
    font-size: 45%;
    bottom: 1rem;
  }
}

.tempUnit {
  position: relative;
  bottom: 2px;
  left: 2px;
  font-size: 70%;
}

.windDirection {
  margin-right: 3px;
  user-select: none;
  filter: invert(1);
}

.map {
  opacity: 0;
  border: 0;
  width: 100%;
  height: 100%;

  border-radius: 0.4rem;
  border: 1px solid rgba(#030303, 0.1);
  box-shadow: 0 4px 30px rgba(#030303, 0.25);
  filter: contrast(125%) brightness(80%) blur(10px);

  @media (max-width: 1024px) {
    margin-top: 2rem;
    height: 20rem;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.forecastHandler {
  margin-top: 0.5rem;
  position: relative;
  display: flex;

  button {
    z-index: 1;
    opacity: 0;
    height: 50%;
    width: 3.5rem;
    position: absolute;
    top: calc(25% + 6%);
    background: none;
    font-size: 400%;
    filter: invert(1);
    user-select: none;
    transition: 0.15s opacity ease-in-out, 0.15s transform ease-out;
  }

  @media (max-width: 1024px) {
    button {
      opacity: 100%;
    }
  }

  @media (min-width: 1024px) {
    &:hover button {
      opacity: 65%;

      &:hover {
        opacity: 100%;
        transform: translateY(-2px);
      }
    }
  }

  @media (max-width: 768px) {
    button {
      display: none;
    }
  }
}

.forecast {
  padding: 3% 0 5px;
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 5px;
  scroll-behavior: smooth;

  .item {
    padding: 1.2rem 0;
    min-width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 0.4rem;
    border: 1px solid rgba(#030303, 0.1);
    box-shadow: 0 4px 30px rgba(#030303, 0.25);
    background: rgba(#696969, 0.2);
    backdrop-filter: blur(12px);

    .data {
      font-size: 120%;
      text-align: center;

      p {
        margin-top: 3px;
        font-size: 75%;
        opacity: 55%;
      }
    }

    img {
      padding: 1rem 0;
      height: auto;
    }

    h4 {
      font-size: 135%;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    padding-top: 0;
    margin-top: 5%;

    .item {
      padding: min(1.2rem, 4vw) 0;
      min-width: min(7rem, 24vw);
      font-size: min(100%, 3.2vw);

      img {
        padding: min(1rem, 4vw) 2vw;
        width: min(80%, 16vw);
      }
    }
  }
}
